[Unit]
Description=Dynamo DB Local Service

[Service]
Type=simple
ExecStart=%h/.sdkman/candidates/java/17.0.3-tem \
  -Djava.library.path=%h/opt/dynamodb_local/DynamoDBLocal_lib \
  -jar %h/opt/dynamodb/DynamoDBLocal.jar \
  -sharedDb

[Install]
WantedBy=default.target
